{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    {% if contacts is defined %}

            <p>Mes demandes de contacts ({{ contacts|length }})</p>
            {% for contact in contacts %}
                <li>
                <a href="{{ path("contactId",{id:contact.id}) }}"> {{ contact.nom }} {{ contact.prenom }}</a>
                </li>
            {% endfor %}

    {% endif %}

    {% if contact is defined %}
        <p>Id: {{ contact.id }}</p>
        <p>Nom : {{ contact.name }}</p>
        <p>Prénom : {{ contact.firstName }}</p>
        <p>Email : {{ contact.email }}</p>
        <p>Sujet : {{ contact.sujet }}</p>
        <p>Message : {{ contact.message }}</p>
        <p>Newsletter : {{ contact.newsletter }}</p>
    {% endif %}

{% endblock %}